# Part Two:
### Have Customers Narrow Their Travel Searches Based on Temperature and Precipitation

In [1]:
# Dependencies and Setup
import pandas as pd

In [2]:
# Files to load
city_data_to_load = "/Users/markeia/OneDrive/Data Analytics Bootcamp/Python Module/World_Weather_Analysis/WeatherPy_database.csv"

In [3]:
# Read the city data file and store it in a pandas DataFrame.
city_data_df = pd.read_csv(city_data_to_load)

In [4]:
city_data_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain (inches),Snow (inches)
0,0,Albany,US,42.60,-73.97,78.01,66,18,2.66,few clouds,0.00,0.0
1,1,Mayumba,GA,-3.43,10.66,69.35,89,0,3.22,clear sky,0.00,0.0
2,2,Cape Town,ZA,-33.93,18.42,55.00,100,75,8.05,broken clouds,0.00,0.0
3,3,Rikitea,PF,-23.12,-134.97,70.56,54,47,13.71,scattered clouds,0.00,0.0
4,4,Jamestown,US,42.10,-79.24,68.00,93,90,3.36,light rain,0.25,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
574,574,Savannah Bight,HN,16.45,-85.85,83.25,81,40,25.50,scattered clouds,0.00,0.0
575,575,Sehwan,PK,26.43,67.86,95.00,56,0,13.87,clear sky,0.00,0.0
576,576,Inzer,RU,54.22,57.56,59.65,46,14,4.47,few clouds,0.00,0.0
577,577,Egvekinot,RU,66.32,-179.17,47.84,51,20,1.36,few clouds,0.00,0.0
578,578,Kharp,RU,66.80,65.81,49.14,56,89,6.38,overcast clouds,0.00,0.0

In [5]:
city_data_df.dtypes

City_ID                  int64
City                    object
Country                 object
Lat                    float64
Lng                    float64
Max Temp               float64
Humidity                 int64
Cloudiness               int64
Wind Speed             float64
Current Description     object
Rain (inches)          float64
Snow (inches)          float64
dtype: object

In [68]:
# Filter the DataFrame for minimum and maximum temperature preferences, 
# and if the rain or snow accumulation is 0 inches or not using conditional statements.

# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [33]:
min_temp = float(input("What is the minimum temperature you would like for your vacation"))
max_temp = float(input("What is the maximum temperature you would like for your vacation"))

What is the minimum temperature you would like for your vacation70
What is the maximum temperature you would like for your vacation90

In [34]:
# Ask the traveler if they want it to be raining or snowing
rain_amount = input("Do you want it to be raining? (yes/no)")
snow_amount = input("Do you want it to be snowing? (yes/no)")

Do you want it to be raining? (yes/no)no
Do you want it to be snowing? (yes/no)no

In [35]:
# Filter the dataset to find the cities that fit the criteria.
if rain_amount == "no" and snow_amount == "no":
    preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp) &
                                        (city_data_df["Rain (inches)"] == 0) & 
                                          (city_data_df["Snow (inches)"] == 0)]
elif rain_amount == "no" and snow_amount == "yes":
    preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp) &
                                        (city_data_df["Rain (inches)"] == 0) & 
                                          (city_data_df["Snow (inches)"] > 0.0)]
elif rain_amount == "yes" and snow_amount == "yes":
    preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp) &
                                        (city_data_df["Rain (inches)"] > 0.0) & 
                                          (city_data_df["Snow (inches)"] > 0.0)]
else:
    preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp) &
                                        (city_data_df["Rain (inches)"] > 0) & 
                                          (city_data_df["Snow (inches)"] == 0)]
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain (inches),Snow (inches)
0,0,Albany,US,42.60,-73.97,78.01,66,18,2.66,few clouds,0.0,0.0
3,3,Rikitea,PF,-23.12,-134.97,70.56,54,47,13.71,scattered clouds,0.0,0.0
8,8,Meadow Lake,US,34.80,-106.54,82.40,14,20,9.17,few clouds,0.0,0.0
10,10,Nishihara,JP,26.18,127.76,87.80,66,75,3.36,broken clouds,0.0,0.0
16,16,Tombouctou,ML,20.00,-3.00,89.35,11,0,12.59,clear sky,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
566,566,Road Town,VG,18.42,-64.62,82.99,89,34,1.99,scattered clouds,0.0,0.0
570,570,Vila Do Maio,CV,15.13,-23.22,78.80,54,36,9.17,scattered clouds,0.0,0.0
571,571,Khandyga,RU,62.67,135.60,83.10,32,13,3.69,few clouds,0.0,0.0
572,572,Progreso,MX,21.28,-89.67,81.00,83,75,13.87,broken clouds,0.0,0.0
574,574,Savannah Bight,HN,16.45,-85.85,83.25,81,40,25.50,scattered clouds,0.0,0.0

In [36]:
preferred_cities_df.count()

City_ID                223
City                   223
Country                223
Lat                    223
Lng                    223
Max Temp               223
Humidity               223
Cloudiness             223
Wind Speed             223
Current Description    223
Rain (inches)          223
Snow (inches)          223
dtype: int64

In [51]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country","Max Temp","Current Description","Lat","Lng"]].copy()
hotel_df["Hotel Name"] = ""

In [52]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [53]:
print(row.keys())

Index(['City', 'Country', 'Lat', 'Lng', 'Current Description', 'Max Temp',
       'Hotel Name'],
      dtype='object')

In [54]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [55]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Albany,US,78.01,few clouds,42.60,-73.97,
3,Rikitea,PF,70.56,scattered clouds,-23.12,-134.97,Pension Maro'i
8,Meadow Lake,US,82.40,few clouds,34.80,-106.54,JKL Inc. R.V Park and Storage
10,Nishihara,JP,87.80,broken clouds,26.18,127.76,Minshuku Agaihama
16,Tombouctou,ML,89.35,clear sky,20.00,-3.00,
18,Saskylakh,RU,87.82,few clouds,71.92,114.08,
19,Hilo,US,80.60,few clouds,19.73,-155.09,Hilo Hawaiian Hotel
24,Bandarbeyla,SO,86.72,scattered clouds,9.49,50.81,REER XOOSHLE GROUP
28,Araceli,PH,86.49,scattered clouds,10.55,119.99,JBryan Traveler's Inn
30,Souillac,MU,75.20,scattered clouds,-20.52,57.52,Bils' Villa

In [56]:
# Create the output file (CSV).
output_data_file = "/Users/markeia/OneDrive/Data Analytics Bootcamp/Python Module/World_Weather_Analysis/WeatherPy_vacation.csv"
# Export the City_Data into a CSV.
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [71]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [76]:
locations = hotel_df[["Lat", "Lng"]]
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))